html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin:20px;
  border:5px solid black;
}
.header {
  /* add correct code to place the menu correctly.*/

  display:flex;
  justify-content: space-evenly; 

  background-color:rgb(2, 255, 221);
  font-size: 30px;
}
